*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    animation: fade 0.6s;
}

.logo img{
    float: left;
    width: 80px;
    height: auto;
    margin-top: 20px;
    margin-left: 20px;
}

/*  NAVBAR */
.topword{
    float: right;
    margin-right: 30px;
    font-size: 20px;
}

.topword li{
    display: inline-block;
    margin-top: 37px;
    margin-right: 40px
}

.topword li a{
    text-decoration: none; 
    color:black;
    padding: 2px 10px;
    transition: 0.6s ease;
}

.topword li a:hover{
    background-color:black;
    color: white;
    transition: 0.6s ease;
}

.topword li.active a{
    background-color:black;
    color:white;
}
/*  */

header{
    height: 12vh;
}

@keyframes fade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/*  */
.introbackground{
    position: relative;
    height: 895px;
    width: 1680px;
    background-color: lightgrey;
}

.introbackground img{
    height: 600px;
    width: auto;
    margin-left: 140px;
    margin-top: -350px;
}

.intropengamen{
    position: relative;
    text-align: right;
    margin-right: 100px;
    top: 140px;
    font-size: 60px;
    font-style: bold;   
}
 
.introcerita{
    position: relative;
    text-align: justify;
    margin-left: 630px;
    top: 180px;
    font-size: 21px;
}

.introcerita2{
    position: relative;
    text-align: justify;
    margin-left: 630px;
    top: 230px;
    font-size: 21px;
}
/*  */

.bawahankaki{
    position: relative;
    height: 150px;
    width: 1680px;
    background-color:black;
}

.captionbawah{
    position: relative;
    font-size: 15px;
    -webkit-text-fill-color: white;
    text-align: center;
    top: 65px;
}