*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    animation: fade 0.6s;
    background-color: black;
}

@keyframes fade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.logo img{
    float: left;
    width: 80px;
    height: auto;
    margin-top: 20px;
    margin-left: 20px;
}

header{
    height: 12vh;
}

/*  NAVBAR */
.topword{
    float: right;
    margin-right: 30px;
    font-size: 20px;
}

.topword li{
    display: inline-block;
    margin-top: 37px;
    margin-right: 40px
}

.topword li a{
    text-decoration: none; 
    color:white;
    padding: 2px 10px;
    transition: 0.6s ease;
}

.topword li a:hover{
    background-color:white;
    color:black;
    transition: 0.6s ease;
}

.topword li.active a{
    background-color:white;
    color:black;
}
/*  */

.picture{
    position: relative;
    top: 50px;
    width:300px;
    height: auto;
    float: left;
    margin: 15px 15px;
    transition: 0.6s ease-out;
}

.picture:hover{
    transform: scale(1.5);
    z-index: 2;
    transition: 0.3s ease-in;
}