*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    /* background-image: url(); */
    background-position: center;
    display: block;
    height: 100vh;
    background-size: cover;
    animation: fade 0.6s;  
}

@keyframes fade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/*  NAVBAR */
.topword{
    float: right;
    margin-right: 30px;
    font-size: 20px;
}

.topword li{
    display: inline-block;
    margin-top: 37px;
    margin-right: 40px;
}

.topword li a{
    text-decoration: none; 
    color: white;
    padding: 2px 10px;
    transition: 0.6s ease;
}

.topword li a:hover{
    background-color: white;
    color: black;
    transition: 0.6s ease;
}

.topword li.active a{
    background-color: white;
    color: black;
}
/*  */

.captiontengah{
    text-shadow: 1px 1px 10px black;
    font-size: 70px;
    font-style: italic;
    -webkit-text-fill-color: white;
    padding-top: 420px;
    text-align: center;
    margin: 0;
}

.logo img{
    float: left;
    width: 80px;
    height: auto;
    margin-top: 20px;
    margin-left: 20px;
}

.main{
    max-width: 1200 px;
    margin: auto;
}

/*  PORTOFOLIO BUTTON */
.portobutton{
    -webkit-text-fill-color: white;
    font-size: 20px;
    border: 2px solid white;
    background: black;
    padding: 15px 15px;
    margin-left: 140px;
    margin-top: 200px;
    transition: 0.6s ease;
}

.portobutton:hover{
    -webkit-text-fill-color: black;
    border: 2px solid black;
    background: white;
    transition: 0.6s;
}
/*  */

/*  */
.introbackground{
    position: relative;
    height: 895px;
    width: 1680px;
    background-color: lightgrey;
}

.introbackground img{
    position: relative;
    height: 600px;
    width: auto;
    margin-left: 140px;
    margin-top: -120px;
}

.intropengamen{
    position: relative;
    text-align: right;
    margin-right: 145px;
    top: 175px;
    font-size: 60px;
    font-style: bold;   
}
 
.introcerita{
    position: relative;
    text-align: justify;
    margin-left: 682px;
    top: 220px;
    font-size: 30px;
}

.resumebutton{
    position: relative;
    -webkit-text-fill-color: white;
    font-size: 20px;
    border: 2px solid white;
    background: black;
    padding: 15px 15px;
    margin-left: 680px;
    bottom: 140px;
    transition: 0.6s ease;
}

.resumebutton:hover{
    position: relative;
    -webkit-text-fill-color: black;
    border: 2px solid black;
    background: white;
    transition: 0.6s ease;
}
/*  */

.bawahankaki{
    position: relative;
    height: 150px;
    width: 1680px;
    background-color:black;
}

.captionbawah{
    position: relative;
    font-size: 15px;
    -webkit-text-fill-color: white;
    text-align: center;
    top: 65px;
}