*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    animation: fade 0.6s;
}

.logo img{
    float: left;
    width: 80px;
    height: auto;
    margin-top: 20px;
    margin-left: 20px;
}

/*  NAVBAR */
.topword{
    float: right;
    margin-right: 30px;
    font-size: 20px;
}

.topword li{
    display: inline-block;
    margin-top: 37px;
    margin-right: 40px
}

.topword li a{
    text-decoration: none; 
    color:black;
    padding: 2px 10px;
    transition: 0.6s ease;
}

.topword li a:hover{
    background-color:black;
    color: white;
    transition: 0.6s ease;
}

.topword li.active a{
    background-color:black;
    color:white;
}
/*  */

header{
    height: 12vh;
}

@keyframes fade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/*  */
/*  */
.topbackground{
    position: relative;
    height: 895px;
    width: 1680px;
}
.phum img{
    height: 400px;
    width: auto;
    margin-top: 220px;
    margin-left: 100px;
}
.phumcaption{
    float: right;
    position: relative;
    text-align: justify;
    margin-right: 150px;
    bottom: 330px;
    font-size: 65px;
}
/*  */
/*  */
.midbackground{
    position: relative;
    height: 895px;
    width: 1680px;
    background-color: lightgrey;
}
.boy img{
    height: 400px;
    width: auto;
    margin-top: 220px;
    margin-left: 935px;
}
.boycaption{
    float: left;
    position: relative;
    text-align: justify;
    margin-left: 175px;
    bottom: 285px;
    font-size: 65px;
}
/*  */
/*  */
.botbackground{
    position: relative;
    height: 895px;
    width: 1680px;
}.paul img{
    height: 400px;
    width: auto;
    margin-top: 220px;
    margin-left: 100px;
}
.paulcaption{
    float: right;
    position: relative;
    text-align: justify;
    margin-right: 110px;
    bottom: 290px;
    font-size: 65px;
}
/*  */
/*  */
.bawahankaki{
    position: relative;
    height: 150px;
    width: 1680px;
    background-color:black;
}

.captionbawah{
    position: relative;
    font-size: 15px;
    -webkit-text-fill-color: white;
    text-align: center;
    top: 65px;
}

